@page "/"

    <h1>Welcome to the Algorand DotNET SDK Test</h1>

<ul>
    <li>
        Visit the Algorand Home Page <a href="https://www.algorand.com/">https://www.algorand.com/</a>
    </li>
    <li>
        Validate your transactions with Algorand Block Explorer <a href="https://testnet.algoexplorer.io">https://testnet.algoexplorer.io</a>
    </li>
</ul>
