@page "/"

    <h1>Welcome to the Algorand DotNET SDK Test</h1>
<table class="table">
    <tr>
        <td>
            <img src="/Images/algologo1.png" alt="Algorand Logo" height="75" width="250" />
        </td>
        <td>
            <img src="/Images/blazorms-675x360.jpg"  alt="Microsoft Blazor Logo" height="75" width="250" />
        </td>

        <td>
            <img src="/Images/netcorelogo.jpg"  alt="Microsoft .Net Core Logo" height="75" width="250" />
        </td>
    </tr>
</table>

    <ul>
        <li>
            Visit the Algorand Home Page <a href="https://www.algorand.com/">https://www.algorand.com/</a>
        </li>
        <li>
            Validate your transactions with Algorand Block Explorer <a href="https://testnet.algoexplorer.io">https://testnet.algoexplorer.io</a>
        </li>
        <li>
            Algorand Developer Resources <a href="https://www.algorand.com/work-with-us/developer-resources">https://www.algorand.com/work-with-us/developer-resources</a>
        </li>
        <li>
            Microaoft .NET Core Documentation <a href="https://docs.microsoft.com/aspnet/" target="_blank">https://docs.microsoft.com/aspnet/</a>
        </li>
        <li>
            Current Project Github Repo <a href="https://github.com/inti27/Algorand-DotNET-SDK-Blazor-Sample/tree/master" target="_blank">https://github.com/inti27/Algorand-DotNET-SDK-Blazor-Sample/tree/master</a>
        </li>
    </ul>
