@page "/TokenPage"
<h1>Algorand Digital Token Test Page...</h1>
<hr />
<br />
<br />
<ul>
    <li>
        <a href="NewToken">Create New Token</a>
    </li>
    <li>
        <a href="WhiteListToken">White List Address To Accept Your Token</a>
    </li>
    <li>
        <a href="FreezeToken">Freeze Address To Stop Accepting Your Token</a>
    </li>
    <li>
        <a href="DestroyToken">Destroy Your Token</a>
    </li>
    <li>
        <a href="SignToken">Use Logic Signature With Your Token</a>
    </li>
</ul>

@code {

}