@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
       <a href="https://www.linkedin.com/in/intibryon/" target="_blank"><p style="font-family:cursive; color:blue; font-size:medium;">By Inti</p></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
