<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Algorand Blazor Test App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="NewAddress">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Address
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddressInfo">
                <span class="oi oi-info" aria-hidden="true"></span> Address Details
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SendAlgo">
                <span class="oi oi-dollar" aria-hidden="true"></span> Send Algos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="NewToken">
                <span class="oi oi-task" aria-hidden="true"></span> Create New Token
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WhiteListToken">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> White List Token
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FreezeToken">
                <span class="oi oi-thumb-down" aria-hidden="true"></span> Freeze Token
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DestroyToken">
                <span class="oi oi-circle-x" aria-hidden="true"></span> Destroy Token
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SignToken">
                <span class="oi oi-fork" aria-hidden="true"></span> Logic Sign Token
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SendToken">
                <span class="oi oi-share" aria-hidden="true"></span> Send Tokens
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BidToken">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Bid Tokens
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
